@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");

@serenity: white;
@rose-quartz: #f7cac9;
@wide-margin: 20px;
@margin: 10px;
@normal-margin: @margin;
@thin-margin: 5px;

@dark-grey-background: #343435;

body {
	background: @serenity;
}

.rotate90 {
    -webkit-transform: rotate(90deg) scale(0.6667);
    -moz-transform: rotate(90deg) scale(0.6667);
    -o-transform: rotate(90deg) scale(0.6667);
    -ms-transform: rotate(90deg) scale(0.6667);
    transform: rotate(90deg) scale(0.6667);
		transform-origin: 50%;
}

.rotate270 {
    -webkit-transform: rotate(270deg) scale(0.6667);
    -moz-transform: rotate(270deg) scale(0.6667);
    -o-transform: rotate(270deg) scale(0.6667);
    -ms-transform: rotate(270deg)  scale(0.6667);
    transform: rotate(270deg) scale(0.6667);
		transform-origin: 50%;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
		transform-origin: 50%;
}

.travel-entry {
	border-radius: 5px;
	box-shadow: 2px 1px 1px #ddd;
	background-color: #d9e6f7;
	margin-bottom: 50px;
	overflow: hidden;

	.content-subsection {
		padding-left: 15px;
		padding-right: 15px;
	}

	.images {
		// kludge to make sure images don't overflow the travel section border radius
		-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
	}


	.carousel {
		.active.item {
			background-color: @dark-grey-background;
		}
	}
}

.navbar {
	background: @dark-grey-background;
	border-color: darken(@dark-grey-background, 3%);
	border: 1px solid transparent;
	box-shadow: 0px 1px 1px @dark-grey-background;
	border-radius: 0px;
}
