@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");

@serenity: white;
@rose-quartz: #f7cac9;
@wide-margin: 20px;
@margin: 10px;
@normal-margin: @margin;
@thin-margin: 5px;

@dark-grey-background: #343435;
@blue-grey: #f3f7fd;
@pretty-blue: #d9e6f7;

body {
	background: @serenity;
}
.entryDate {
	padding-left: 20px;
}

.slide-image {
	height: 600px !important;
	margin: auto;
}

.travel-entry {
	border-radius: 5px;
	box-shadow: 2px 1px 1px #ddd;
	background-color: @blue-grey;
	margin-bottom: 50px;
	overflow: hidden;

	.content-subsection {
		padding-left: 15px;
		padding-right: 15px;
	}

	.images {
		// kludge to make sure images don't overflow the travel section border radius
		-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
	}


	.carousel {
		.active.item {
			background-color: @dark-grey-background;
		}
	}
}

.navbar {
	background: @dark-grey-background;
	border-color: darken(@dark-grey-background, 3%);
	border: 1px solid transparent;
	box-shadow: 0px 1px 1px @dark-grey-background;
	border-radius: 0px;
}
